.env
.env.*
!.env.example
.vs/

# Build results
[Bb]in/
[Oo]bj/


*.md
*.json
!server/ai-speis-be/TechnicalInterviews/Rubrics/technical-rubric-v1.json
!client/ai-speis/src/locales/en/interview.json
!client/ai-speis/src/locales/vi/interview.json
